body{
    margin: 0;
    background-color:rgb(198, 198, 198);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: #111;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    background-color:rgb(255, 255, 255);
    width: 50%;
    height: 100%;

}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}