<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    {% block content %}
    <div class="col-sm-8 text-left"> 
        <h1>About</h1>
        <div class="container-fluid">
            <div>
                <h3>Anggota Kelompok</h3>
                <ul>
                    <li>Aprilia Purwanto &emsp; (119140003)</li>
                    <li>Nurul Aulia L. &emsp; (119140008)</li>
                    <li>Edinia Rosa F. &emsp; (119140018)</li>
                    <li>Romaita Maria S. &emsp; (119140039)</li>
                    <li>Husliana Pratiwi &emsp; (119140042)</li>
                    <li>Istighfariza Aprini &emsp; (119140059)</li>
                    <li>Putri Dwisastika L. &emsp; (119140068)</li>
                    <li>Nesa Oktavia &emsp; (119140091)</li>
                    <li>Ihza Fajrur R.H. &emsp; (119140130)</li>
                </ul>
            </div>
            <div>
                <h3>Deskripsi Aplikasi</h3>
                <text>Pengguna memasukkan masing-masing 1 kalimat ke dalam 2 inputan teks yang tersedia. Program akan mengolah inputan dalam 3 tahapan yaitu preprocessing, TF-IDF, dan Cosine Similarity. Kemiripan kedua dokumen ditentukan dari besaran cosine similarity tersebut. Semakin besar nilai cosine similarity, maka indikasi plagiarisme semakin besar.</text>
            </div>
            <div>
                <h3>Metode</h3>
                <ul>
                    <li>Input Data dari dataset</li>
                    <li>Preprocessing (Case folding, Tokenizing, Stopword Removal, Stemming)</li>
                    <li>TF-IDF-DF</li>
                    <li>Normalisasi Min-MAx</li>
                    <li>Evaluasi (MAPE, MAE)</li>
                </ul>
            </div>
            <div>
                <h3>Evaluasi Sistem</h3>
                <text>Nilai MAE sistem 0.2564173628956344</text>
            </div>
            <!-- <form action="/home" method="POST" >
                <div class="row" row="3">
                
                    <div class="col-sm-6 form-group">
                        <label>Input</label>
                        <textarea name="document_1" class="form-control" rows="10"></textarea>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Original Text</label>
                        <textarea name="document_2" class="form-control" rows="10"></textarea>
                    </div>
                </div>
                <h5 class="text-center text-danger">{{ warning }}</h5>
                <div class="col-md-12 text-center">
                    <input type="submit" class="text-center mx-auto"/>
                </div>
            </form>
            <div>
                <h3>Result</h3>
                <p>{{result}}</p>
            </div> -->
        </div>
    </div>
    {% endblock %}

</body>
</html>