<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    {% block content %}
    <div class="col-sm-8 text-left"> 
        <h1>Plagiarism Checker</h1>
        <br><br>
        <div class="container-fluid">
            <form action="/home" method="POST">
                <div class="row" row="3">
                
                    <div class="col-sm-6 form-group">
                        <label>Input</label>
                        <textarea name="document_1" class="form-control" rows="10"></textarea>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label>Original Text</label>
                        <textarea name="document_2" class="form-control" rows="10"></textarea>
                    </div>
                </div>
                <input type="submit" class="text-center mx-auto"/>
            </form>
            <div>
                <h3>Result</h3>
                <p>{{result}}</p>
            </div>
        </div>
    </div>
    <!-- <h1>Plagiarism Checker</h1>
    <br><br>
    <div class="container-fluid">
        <div class="row" row="3">
            <form action="/home" method="POST">
                <div class="col-sm-5">
                    <textarea name="document_1" class="form-control" rows="10"></textarea>
                </div>
                <div class="col-sm-2">
                        <input type="submit" class="text-center mx-auto d-block"/>
                </div>
                <div class="col-sm-5">
                    <textarea name="document_2" class="form-control" rows="10"></textarea>
                </div>
            </form>
        </div>
    </div> -->
    {% endblock %}

</body>
</html>